body {
	background-color: rgb(0, 0, 0);
	padding-top: 60px;
	padding-bottom: 40px;
}

#content-cube {
	margin: auto;
	width: 350px;
	height: 1600px;
	background-color: black;
	border: 2px solid white;
	border-radius: 25px;
}

.cube-top-row {
	width: 350px;
	height: 1521px;
	padding-bottom: 0px;
	border-spacing: 0px;
	display: table;
}

.main-input {
	display: table-row;
}

.cube-content {
	display: table-row;
}

.cube-red {
	margin: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	width: 300px;
	display: table-cell;
	border-bottom: 2px dashed #dddddd;
}

.cube-green {
	margin: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	width: 300px;
	display: table-cell;
	border-bottom: 2px dashed #dddddd;
}

.cube-blue {
	margin: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	width: 300px;
	display: table-cell;
	border-bottom: 2px dashed #dddddd;
}

.cube-name {
	width: 300px;
	text-align: center;
	font-size: 20px;
	color: white;
	height: 20px;
	padding-top: 25px;
	padding-bottom: 10px;
}

.cube-canvas-holder {
	height: 300px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.cube-canvas-container {
	width: 256px;
	height: 256px;
	background-color: white;
	padding: 22px;
}

.cube-red .cube-canvas-holder .cube-canvas-container:hover {
	background-image: url("../images/red-cv-bg.png")
}

.cube-green .cube-canvas-holder .cube-canvas-container:hover {
	background-image: url("../images/green-cv-bg.png")
}

.cube-blue .cube-canvas-holder .cube-canvas-container:hover {
	background-image: url("../images/blue-cv-bg.png")
}

.cube-canvas {
	width: 256px;
	height: 256px;
}

.input-holder {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.slide-container {
	width: 256px;
	padding-left: 20px;
	padding-right: 20px;
}

.slider {
	-webkit-appearance: none;
	width: 256px;
	height: 25px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .5s;
	transition: opacity .5s;
	margin: 0px;
	border: 1px solid white;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 25px;
	background: #FFFFFF;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 6px;
	height: 25px;
	background: #FFFFFF;
	cursor: pointer;
}

#range-red {
	background-image: linear-gradient(to right, rgb(0,0,0), rgb(255,0,0));
}

#range-green {
	background-image: linear-gradient(to right, rgb(0,0,0), rgb(0,255,0));
}

#range-blue {
	background-image: linear-gradient(to right, rgb(0,0,0), rgb(0,0,255));
}

.cube-value-row {
	width: 300px;
	display: table-cell;
}

.cube-value-holder {
	width: 56px;
	padding: 5px 5px;
	font-size: 16px;
	margin: 0px;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
	outline: none;
}

.redValue {
	border: 3px solid rgb(255,0,0);
	background-color: rgb(255,150,150);
	color: black;
}

.redValue:focus {
	border: 3px solid rgb(255,150,150);
	background-color: rgb(255,0,0);
	color: white;
}

.greenValue {
	border: 3px solid rgb(0,255,0);
	background-color: rgb(150,255,150);
	color: black;
}

.greenValue:focus {
	border: 3px solid rgb(150,255,150);
	background-color: rgb(0,255,0);
	color: black;
}

.blueValue {
	border: 3px solid rgb(0,0,255);
	background-color: rgb(150,150,255);
	color: black;
}

.blueValue:focus {
	border: 3px solid rgb(150,150,255);
	background-color: rgb(0,0,255);
	color: white;
}

.cube-bot_row {
	display: table;
	width: 350px;
	padding-top: 20px;
}

.cube-hex-holder {
	width: 100%;
	text-align: center;
}

.hexInput {
	width: 96px;
	height: 40px;
	padding: 5px 5px;
	font-size: 18px;
	margin: 0px;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
	outline: none;
	border: 3px solid rgb(150,150,150);
	background-color: rgb(200,200,200);
	color: black;
}

.hexInput:focus {
	border: 3px solid rgb(200,200,200);
	background-color: rgb(100,100,100);
	color: white;
}

#content-gradation {
	margin: auto;
	background-color: black;
	border: 2px solid white;
	width: 350px;
	height: 950px;
	border-radius: 25px;
}

.grad-top-row {
	border-spacing: 0px;
	width: 350px;
	height: 420px;
	padding-top: 0px;
	padding-bottom: 23px;
	display: table;
	border-bottom: 2px dashed #dddddd;
}

.half-col {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 350px;
	
	text-align: center;
	display: table-row;
}

.col-input-grad {
	margin: 0px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 330px;
	height: 190px;
	display: table-cell;
}

.input-label {
	padding-top: 10px;
	padding-bottom: 2px;
	color: white;
	margin: 0;
}

.preview-holder {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3px;
}

.color-preview {
	margin: auto;
	border: 1px solid white;
	width: 150px;
	height: 90px;
	background-color: rgb(0,0,0);
}

.grad-mid-row {
	border-spacing: 0px;
	width: 350px;
	height: 180px;
	padding-top: 15px;
	padding-bottom: 3px;
	display: table;
	border-bottom: 2px dashed #dddddd;
}

.full-col {
	width: 350px;
	display: inline-block;
	margin: auto;
	text-align: center;
}

.grad-canvas-holder {
	width: 350px;
	height: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin: auto;
}

.grad-canvas-frame {
	width: 256px;
	height: 90px;
	padding: 5px;
	margin: auto;
	background-color: white;
}

.canvas-grad {
	background-color: black;
}

.opt-holder {
	width: 300px;
	color: white;
	padding-top: 6px;
	margin: auto;
}

.opt-by3 {
	width: 100px;
	display: table-cell;
}

.opt-color {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.opt-color + img {
	cursor: pointer;
	opacity: 0.6;
}

.opt-color:hover + img {
	opacity: 1;
}

.opt-color:checked + img {
	outline: 2px solid #f00;
	opacity: 1;
}

.grad-bot-row {
	border-spacing: 0px;
	width: 330px;
	height: 255px;
	padding: 10px;
	display: table;
}

.field-preview {
	width: 330px;
	height: 245px;
	margin: auto;
	padding-top: 40px;
	border-radius: 15px;
	background-color: black;
}

.info-col {
	height: 200px;
	width: 200px;
	text-align: center;
	color: white;
	background-color: black;
	margin: auto;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 16px;
}

.info-label-bar {
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
}

.info-value-bar {
	padding-top: 2px;
	padding-bottom: 8px;
	margin: 0;
}

#content-contrastion {
	margin: auto;
	background-color: black;
	border: 2px solid white;
	width: 350px;
	height: 955px;
	border-radius: 25px;
}

.contra-top-row {
	border-spacing: 0px;
	width: 350px;
	height: 200px;
	padding-top: 0px;
	padding-bottom: 23px;
	display: table;
	border-bottom: 2px dashed #dddddd;
}

.contra-mid-row {
	border-spacing: 0px;
	width: 350px;
	height: 400px;
	padding-top: 0px;
	padding-bottom: 3px;
	display: table;
	border-bottom: 2px dashed #dddddd;
}

.col-input-contra {
	margin: 0px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 330px;
	height: 190px;
	display: table-cell;
}

.contra-canvas-holder {
	width: 330px;
	height: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin: auto;
}

.contra-canvas-frame {
	width: 256px;
	height: 90px;
	padding: 5px;
	margin: auto;
	background-color: white;
}

.canvas-contra {
	background-color: black;
}

.contra-bot-row {
	border-spacing: 0px;
	width: 330px;
	height: 255px;
	padding: 10px;
	display: table;
}

.menu-bar {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0px;
	top: 0px;
}

.menu-group {
	width: 240px;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	margin: auto;
	border: none;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.opt-menu {
	width: 40px;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	display: table-cell;
}

.menu-btn {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

#menu-cube + div {
	cursor: pointer;
	opacity: 0.6;
	width: 40px;
	height: 40px;
	background-image: url(../images/icons/cube_gray.png);
	background-size: contain;
}

#menu-cube:hover + div {
	opacity: 2;
}

#menu-cube:checked + div {
	opacity: 2;
	background-image: url(../images/icons/cube_color.png);
}

#menu-grad + div {
	cursor: pointer;
	opacity: 0.6;
	width: 40px;
	height: 40px;
	background-image: url(../images/icons/grad_gray.png);
	background-size: contain;
}

#menu-grad:hover + div {
	opacity: 1;
}

#menu-grad:checked + div {
	opacity: 1;
	background-image: url(../images/icons/grad_color.png);
}

#menu-contra + div {
	cursor: pointer;
	opacity: 0.6;
	width: 40px;
	height: 40px;
	background-image: url(../images/icons/contra_gray.png);
	background-size: contain;
}

#menu-contra:hover + div {
	opacity: 1;
}

#menu-contra:checked + div {
	opacity: 1;
	background-image: url(../images/icons/contra_color.png);
}

.credit-bar {
	font-size: 12px;
	bottom: 0;
	text-align: center;
	color: white;
	margin-bottom: -40px;
	margin-top: 30px;
}


@media only screen and (min-width: 1070px) {
	#content-cube {
		width: 1060px;
		height: 570px;
	}
	
	.cube-top-row {
		width: 1060px;
		height: 500px;
		padding-bottom: 5px;
	}
	
	.cube-content {
		display: table-cell;
	}
	
	.cube-red {
		padding-left: 40px;
		padding-right: 20px;
		padding-bottom: 0px;
		border: none;
	}
	
	.cube-green {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0px;
		border: none;
	}
	
	.cube-blue {
		padding-left: 20px;
		padding-right: 40px;
		padding-bottom: 0px;
		border: none;
	}
	
	.cube-bot_row {
		width: 1060px;
		padding-top: 0px;
	}
	
	#content-gradation {
		width: 1060px;
		height: 570px;
	}
	
	.grad-top-row {
		width: 1060px;
		height: 190px;
		padding-bottom: 0px;
		border-bottom: none;
	}
	
	.half-col {
		padding-top: 0px;
		padding-left: 30px;
		padding-right: 30px;
		width: 470px;
		
		text-align: center;
		display: table-cell;
	}
	
	.col-input-grad {
		width: 450px;
		height: 175px;
		padding-top: 0px;
	}
	
	.grad-mid-row {
		width: 1060px;
		height: 160px;
		padding-top: 0px;
		padding-bottom: 0px;
		border-bottom: none;
	}
	
	.full-col {
		width: 1060px;
	}
	
	.grad-canvas-holder {
		width: 450px;
		height: 100px;
		padding-top: 0px;
		padding-bottom: 10px;
		margin: auto;
	}
	
	.grad-bot-row {
		width: 1060px;
		height: 220px;
		padding: 5px 0px 0px 0px;
	}
	
	.field-preview {
		width: 700px;
		height: 206px;
		margin: auto;
		padding-top: 4px;
		border-radius: 15px;
		background-color: black;
	}
	
	#content-contrastion {
		width: 1060px;
		height: 570px;
	}
	
	.contra-top-row {
		width: 1060px;
		height: 160px;
		padding-bottom: 0px;
		border-bottom: none;
	}
	
	.contra-mid-row {
		width: 1060px;
		height: 160px;
		padding-top: 0px;
		padding-bottom: 0px;
		border-bottom: none;
	}
	
	.col-input-contra {
		width: 450px;
		height: 160px;
		padding-top: 0px;
	}
	
	.contra-canvas-holder {
		width: 450px;
		height: 100px;
		padding-top: 0px;
		padding-bottom: 10px;
		margin: auto;
	}
	
	.contra-bot-row {
		width: 1060px;
		height: 220px;
		padding: 5px 0px 0px 0px;
	}
	
}
